
*{
    margin:0px;
    border:0px;
    
}
    body{
    background-image: linear-gradient(to right,red,yellow);
   
}
h1{
    font-family: Roboto;
    font-size:16px;
    color:green;
}
p{
    font-family: verdana;
    font-size: 14px;
    padding:20px;
}
#navbar{
    position: fixed;
    width:100%;
}
#container{
    width:100%;
    height:auto;
}
#navbar ul li{
    display:inline;
   padding: 15px;
    
   font-family: Roboto;
   width:100%;
    margin-bottom: 50px;
    
}
/*#navbar{
    width: 100%;
    height:80px;
}*/
 li a{
    
    text-decoration: none;
    color:white;
}

a:link {
    color: white;
  }
  
 
  a:visited {
    color: green;
  }
  
 
  a:hover {
    color: red;
  }
  
  
  a:active {
    color: yellow;
  }
#navbar ul{
    background-color: #808080;
    padding: 20px;
    
}
#navbar ul li:hover{
    background-color: rgb(139, 215, 245);
}
@media only screen and (min-width: 600px) {
img{
    margin: 30px 200px 30px 400px;
    width:20%;
    height:auto;
  margin-top:100px;
}
}
@media only screen and (min-width: 768px){
    img{
        margin: 30px 200px 30px 400px;
        width:40%;
        height:auto;
        margin-top:100px;
    }
    }


.food{
    margin-top:20px;
}
.aboutparagraph{
margin-right:200px;
}
.contact{
    margin-top:20px;
}
footer{
    padding:20px;
    height:10px;
    background:#d4d4d4;;
    text-align: center;
    margin-top: 500px;;
}